[submodule "cardmaster-inputgenerator"]
	path = cardmaster-inputgenerator
	url = https://github.com/mingchungx/cardmaster-inputgenerator.git
[submodule "cardmaster-assistant"]
	path = cardmaster-assistant
	url = https://github.com/mingchungx/cardmaster-assistant.git
[submodule "cardmaster-database"]
	path = cardmaster-database
	url = https://github.com/shencynthia/cardmaster-database.git
[submodule "cardmaster-website"]
	path = cardmaster-website
	url = https://github.com/shencynthia/cardmaster-website.git
[submodule "cardmaster-backend"]
	path = cardmaster-backend
	url = https://github.com/LukeWang2/cardmaster-backend.git
